img{
    float: right;
}

ul{
  background-color:F5DEB3; 
}

h2{
    text-align: center;
}

body{
    background-color:DCDCDC;
}

table{
    background-color:orange;
    width:450;
    border-width:1;
    border-color:back;
    text-align: center;
    margin :auto;
    
}
th{
    background-color:yellow;
}

caption{
    background-color: orange;
}

li a{
    color:darkgreen;
}

p.note{
    font-size: x-small;
    margin-left: 60;
    margin-right: 60;
    background-color: yellow;
}